.about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
}
.about-me-parent {
    max-width: 900px;
    width: 90%;
}
.about-me-card {
    display: flex;
    width: 100%;
    height: 550px;
    box-shadow: 0 0 15px -3px #c48459;
    border-radius: 20px;
}
.about-me-profile {
    width: 40%;
    background-image: url("../../assets/AboutMe/me.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.about-me-details {
    width: 60%;
    text-align: justify;
    padding: 30px;
}
.about-me-description {
    line-height: 25px;
    text-align: left;
    font-size: 14px;
    font-family: "Poppins Medium";
}
.about-me-highlights {
    margin: 60px 0;
}
.highlght-heading {
    font-family: "Poppins Bold";
    font-size: 21px;
    margin: 0 0 0 0;
}
.highlight {
    font-size: 15px;
    display: flex;
    align-items: center;
    margin: 0 0 0 0;
    font-family: "Poppins Medium";
}
.highlight-blob {
    height: 10px;
    width: 12px;
    margin: 0 10px 0 0;
    background-color: #ff5823;
    border-radius: 50%;
}
.about-me-options .highlighted-btn {
    margin: 0 0 0 15px;
}

/*IPAD PRO RESPONSIVENESS*/
@media only screen and (max-width: 1110px) {
    .about-me-parent {
        width: 88%;
    }
    .about-me-card {
        width: 100%;
    }
}
@media only screen and (max-width: 898px) {
    .about-me-profile {
        display: none;
    }
    .about-me-details {
        width: 100%;
    }
    .about-me-card {
        width: 100%;
    }
}
@media only screen and (max-width: 466px) {
    .about-me-options {
        display: flex;
        flex-direction: column;
    }
    .about-me-options button {
        width: 100%;
    }
    .about-me-options .highlighted-btn {
        margin: 0 0 0 0;
    }
    .about-me-card {
        width: 100%;
    }
}
